<!DOCTYPE html>
<html>
<head>
	<title>Chart.js Example</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<div>
		<canvas id="myChart"></canvas>
	</div>

	<script>
		// get the canvas element
		// var list = {{ data | safe }};
		var ctx = document.getElementById("myChart").getContext("2d");

		// create the chart
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July"],
				datasets: [{
					label: 'My First Dataset',
					// data: list,
					data: [12, 19, 3, 5, 2, 3, 10],
					fill: false,
					borderColor: 'rgb(75, 192, 192)',
					lineTension: 0.1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
	</script>
</body>
</html>
