<!DOCTYPE html>
<html>
<head>
	<title>Chart.js Example</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<div>
		<canvas id="us"></canvas>
	</div>

	<script>
		// get the canvas element
		var uslist = JSON.parse('{{ usjs | safe }}')
		var uklist = JSON.parse('{{ ukjs | safe }}')
		var us = document.getElementById("us").getContext("2d");

		// create the chart
		var usChart = new Chart(us, {
			type: 'line',
			data: {
				labels: ["2018", "2019", "2020", "2021", "2022", "2023", "2024", "2025", "2026", "2027", "2028", "2029", "2030", "2031", "2032"],
				datasets: [{
					label: 'US E-bike Sales Over Time',
					data: uslist.data,
					fill: false,
					borderColor: 'rgb(239,7,60)',
					lineTension: 0.1
				},{
					label: 'UK E-bike Sales Over Time',
					data: uklist.data,
					fill: false,
					borderColor: 'rgb(158,29,201)',
					lineTension: 0.1
				}
				]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
	</script>
</body>
</html>
