<!DOCTYPE html>
<html>
<head>
	<title>Chart.js Example</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<div>
		<canvas id="myChart"></canvas>
	</div>

	<script>
		// get the canvas element
		var list = JSON.parse('{{ data | safe }}')
		console.log(list.data)
		var ctx = document.getElementById("myChart").getContext("2d");

		// create the chart
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["2018", "2019", "2020", "2021", "2022", "2023", "2024", "2025", "2026", "2027", "2028", "2029", "2030", "2031", "2032"],
				datasets: [{
					label: 'E-bike Sales Over Time',
					data: list.data,
					// data: [12, 19, 3, 5, 2, 3, 10],
					fill: false,
					borderColor: 'rgb(75, 192, 192)',
					lineTension: 0.1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
	</script>
</body>
</html>
